{% extends 'views/alpha/base.html.twig' %}
{% block title %}	
Member system
{% endblock %}  


{% block body %}

			<!-- Header -->
				<header id="header">
					<h1><a href="{{ path('index') }}">AphroBee</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ path('member') }}">Home</a></li>
							<li><a href="{{ path('member_settings') }}">Settings</a></li>
							<li><a href="{{ path('admin_lists') }}">list of users</a></li>
							<li><a href="{{ path('logout') }}" class="button">Disconnect</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Member system</h2>
						<p>A generic page for every non-generic situation.</p>
					</header>
					<div class="box">
						<span class="image featured"><img src="{{ asset('images/pic01.jpg')}}" alt="" /></span>
						<div class="row">
							<div class="6u 12u(mobilep)">
								<h3><a href="{{   path('member_demande')}}">Faire une demande</a></h3>
								<p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
							</div>
							<div class="6u 12u(mobilep)">
								<h3>Enregistrer le parcour</h3>
								<p>Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. Vivamus ornare laoreet odio vis praesent.</p>
							</div>
						</div>
					</div>
				</section>
{% endblock %}  